body{
    height: 1150px;
    background: radial-gradient(#f69d3c, #3f87a6) no-repeat;
}
.row>[class^="col"]{
    border: 0.1em rgb(0, 0, 0) solid;
}

.altfila{
    height: 100px;
}

#imagen{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.fondo{
    height: 1600px;
    width: 50%;
    opacity: 15%;
    position: fixed;
}

footer{
    display: flex;
    justify-content: center;
    font-family: fantasy;
    font-size: 20px;
}
.robotina{
    width: 30%;
}